@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
body{
    margin: 0px;
    padding: 0px;
    background-color: #121111;
}
.background-color{
    background-color: #121111;
    font-family: "Roboto" sans-serif;
    width: 100%;
    height: auto;
}

.netflix-logo{
    height: 5rem;
    width: 12rem;
    margin-right: auto;
    margin-left: 0.5rem;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5rem;
}
.translate{
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0.2px;
    border-color: #706766;
    border-style: solid;
    border-radius: 25px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 0.8rem;
    padding: 4px;
    font-size: 1rem;
    height: 2rem;
    width: 7.5rem;

}
.translate-icon{
    color: white;
    margin-right: 1px;
    height: 1.5rem;
    width: 1.7rem;
}
select{
    border-width: 0px;
    border-style: transparent;
    margin-left: 2px;
    margin-right: 4px;
    background-color: #121111;
    color: white;
    padding-bottom: 1px;
}
.Sign-In{
    background-color: white;
    color: black;
    border-width: 0px;
    font-weight: 500;
    height: 2rem;
    width: 4.5rem;
    border-radius: 25px;
    font-size: 0.9rem;
}
.video-container{
    width: 80%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;

    
}
.video{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
#video{
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    border-top-color: #a5a8a6;
    border-left-color: #a5a8a6;
    border-right-color: #121111;
    border-bottom-color: #121111;
    object-fit: cover;
    object-position: center;
}

.text-overlay{
    position: absolute;
    top: 65%;
    left: 50%;
    color: white;
    transform:translate(-50%, -50%);
    text-align: center;
    width: 100%;
    font-weight: bolder;
    background-color: transparent;
    padding: 10px 200px;
    border-radius: 25px;
}
.text-overlay h1{
    font-family: "Archivo Black", sans-serif;
    font-size: 3.5rem;
    font-weight: bolder;
}
.text-overlay p{
    font-size: 1.3rem;
    font-weight: lighter;
    color: #d1cac9;
}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-bottom: 2.5rem;
}
.Get-Started{
    width: 11.5rem;
    height: 3.4rem;
    background-color: #db1a04;
    border-width: 0px;
    color: white;
    border-radius: 25px;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px;
    margin-left: 10px;
    transition: 1s;
}
.Get-Started:hover{
    background-color: #b61204;
    transition: 0.5s;
}
#input{
    background-color: black;
    color: white;
    font-weight: 400;
    height: 3.4rem;
    width: 25rem;
    border-radius: 25px;
    font-size: 0.9rem;
    border-width: 1px;
    border-top-color: #706766;
    border-left-color: #706766;
    border-right-color: #706766;
    border-bottom-color: #706766;
    padding-left: 1rem;
    
}
.Trending-now-image{
    width: 11.5rem;
    border-radius: 20px;
    transition: 1second;
    cursor: pointer;
}
.Trending-now-image:hover{
    transform: scale(1.06);
    transition: 0.3s;
    z-index: 2;
}    

.Images-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0px auto;
}
.trending-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
    margin-bottom: 3.5rem;
}
.trending-heading{
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-bottom: 1rem;
}
.card-container{
    width: 17.8rem;
    height: 9rem;
    background-color: #292626;
    padding: 10px;
    border-radius: 15px;
    border-width: 2px;
    border-color: #363232;
    border-style: solid;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.card-para{
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    margin-bottom: auto;
    margin-right: auto;
}
.card-image{
    height: 3rem;
    width: 3rem;
    
}
.join-container{
    margin-bottom: 3rem;
}
.card-flex{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}
.question-container{
    width: calc(100%-10rem);
    height: 4.5rem;
    background-color: #292626;
    border-radius: 15px;
    border-width: 2px;
    border-color: #363232;
    border-style: solid;
    display: flex;
    flex-direction: row;
    margin: auto 5rem;
    padding: 20px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: 1s;
}
.question-container:hover{
    background-color: #474642;
    transition: 0.3s;
    z-index: 2;
}
.question-text{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}
.start{
    margin-right: auto;
    padding-left: 15px;
}
.end{
    margin-left: auto;
    padding-right: 15px;
}
.Get-started-end{
    width: 9.5rem;
    height: 2.5rem;
    background-color: #db1a04;
    border-width: 0px;
    color: white;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
    margin-left: 10px;
}
.Get-started-end:hover{
    background-color: #b61204;
    transition: 0.5s;
}
.Get-started-container{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}
.call{
    color: #a5a8a6;
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
}
.number{
    text-decoration: underline;
}
.footer-container{
    margin-left: 5rem;
}
ol{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    
}
li{
    color: #a5a8a6;
    text-decoration: underline;
    width: 16rem;
    margin-bottom: 1rem;
}
.footer-translate{
    margin-left: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}
.footer-text{
    color: #a5a8a6;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 6rem;
    margin-left: 3.5rem;
}
.end{
    color: #a5a8a6;
    font-size: 0.1px;
}